<div class="detail-section">
    <div class="container-fluid">
        <div class="card mb-3" style="margin-top:100px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ product.imageUrl }}" class="detail-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title">{{product.name}}</h5>

                        <div class="product-detail-price">

                            {{product.unitPrice | currency:'INR'}}

                        </div>

                        <button class="btn btn-primary btn-sm" (click)="addToCart(product)">Add to cart</button>

                        <div class="product-details-wrapper">
                            <h5>Description</h5>
                            <div class="card-text">

                                <p>{{product.description}}</p>

                                <small class="text-muted">
                                    <a routerLink="/products">Back to Product List</a>
                                </small>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>