<div class="main-content">
    <div class="section-content section-content-p30">

        <h5>Category: <b>{{currentCategoryName}}</b></h5>
        <hr>

        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">

                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{tempProduct.id}}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>

                        <button class="btn btn-primary btn-sm" (click)="addToCart(tempProduct)">Add to cart</button>

                    </div>
                </div>

                <!-- if no products found -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

                <!--
                    INFO:
                    products?.length : Here "?" is safe navigation operator
                    it guards against null and undefined values in property path
                    if products is null/undefined or proudct.length = 0
                    then display no product found
                -->


            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-4"></div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                    [collectionSize]="theTotalElements" 
                                    [maxSize]="5"
                                    [boundaryLinks]="true"
                                    (pageChange)="listProducts()">

                                </ngb-pagination>
                            </div>

                            <div class="col-md-4 mt-2">
                                <span class="mr-2">Page Size &nbsp;</span>

                                <select (change)="updatePageSize($any($event.target).value)">
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>